<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Make a Profile</h1>
	<form method="post" action="/profiles">
		<label>Title:</label>
		<input type="text" name="title">
		<label>Content:</label>
		<textarea name="content"></textarea>
		<input type="submit">
	</form>
</body>
</html>